/*
    Inspiration taken from : http://larrysteinle.com/2011/11/30/csstablescrollbar/
*/
.fixed_grid_container {
    height: 300px;
    margin-top: 77px;
    margin-bottom: 62px;
    background-color: blue;
    overflow-y: auto;
}

.fixed_grid_container table {
    
}

.fixed_grid_container .tr-ng-grid thead {
    position: absolute;
    margin-top: -76px;
}

.fixed_grid_container .tr-ng-grid thead th {
    border: 1px solid #1c1e22 !important;
}

.fixed_grid_container .tr-ng-grid tfoot {
    position: relative;
    bottom: 0;
}

