<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.1.9" targetFramework="net45" />
  <package id="angular-ui.TypeScript.DefinitelyTyped" version="2.4.3" targetFramework="net45" />
  <package id="angular-ui-bootstrap.TypeScript.DefinitelyTyped" version="0.0.5" targetFramework="net45" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.1" targetFramework="net45" />
</packages>