.tr-ng-grid .tr-ng-grid-footer .pagination {
  margin: 0; 
}

table.tr-ng-grid > thead > tr > th {
    text-align:center;
    vertical-align:top;
}

table.tr-ng-grid > thead > tr > th, 
table.tr-ng-grid > tbody > tr > td, 
table.tr-ng-grid > thead > tr > th > .tr-ng-cell, 
table.tr-ng-grid > tbody > tr > td > .tr-ng-cell
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tr-ng-grid > tbody > tr > td > .tr-ng-cell {
  overflow: visible;
}

.tr-ng-grid .tr-ng-sort {
}

.tr-ng-grid .tr-ng-sort .tr-ng-sort-active, .tr-ng-grid .tr-ng-sort .tr-ng-sort-inactive {
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
    display: block;
    padding-bottom: 1em;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-column-filter {
}

