<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Instance Customizations
        </div>
        <div class="panel-body">
            <p>
                Per grid instance customization is possible at the header, body and the footer level.
                Below are a few examples.
            </p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Custom header and body cells
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(5)">
                    <p>
                        When you start adding additional cells in either the header or the body, there is one rule to remember:<br />
                        The grid will match the position of the header template cells with the ones in the body through the fields identified by the <em>field-name</em> attribute.
                        Everything that is not bound to a field will be matched by position as well, and the extra non-field elements will turn into columns placed at the far right end of the grid.
                    </p>
                    <p>
                        Tapping into the currently bound row item can be done through the
                        <ul>
                            <li><em>gridItem</em> scope variable, which points to the actual data item, and</li>
                            <li><em>gridDisplayItem</em>, which points to the formatted item and should only be used for presentation purposes.</li>
                        </ul>
                    </p>
                    <p>
                        More examples can be found on this site in the <em>Column Definition</em> section.
                    </p>
                    <pre id="trNgGrid_Customize_Header_Body"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Header_Body">
<table tr-ng-grid="" items="myItems" selected-items="mySelectedItems" selection-mode="None">
    <thead>
        <tr>
            <th display-align="center" cell-width="2em">
                <div class="tr-ng-title">&nbsp;</div>
                <input type="checkbox" ng-model="areAllSelected"
                        ng-change="!areAllSelected?mySelectedItems.splice(0, mySelectedItems.length):mySelectedItems.push.apply(mySelectedItems, myItems)" />
            </th>
            <th field-name="id">

            </th>
            <th field-name="name"></th>
            <th field-name="address"></th>
            <th>
                <div class="tr-ng-title">Custom Col Summary</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" ng-model="isSelected" ng-checked="mySelectedItems.indexOf(gridItem)>=0" ng-change="isSelected?mySelectedItems.push(gridItem):mySelectedItems.splice(mySelectedItems.indexOf(gridItem),1)" />
            </td>
            <td>
                <div>
                    Custom Summary for
                    {{gridDisplayItem.name}}
                </div>
            </td>
            <td>
                <button class="btn btn-default btn-sm" ng-click="myItems.splice(myItems.indexOf(gridItem),1)">
                    Remove {{gridDisplayItem.id}}
                </button>
            </td>
        </tr>
    </tbody>
</table>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    New elements in the footer
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(21)">
                    <p>
                        Customizing the footer means you're going to have to add manually the inner directives that are bound to various features of the grid, such as global filtering and paging.
                    </p>
                    <pre id="trNgGrid_Customize_Footer"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Footer">
<table tr-ng-grid items="myItems" selected-items="mySelectedItems" page-items="5">
    <tfoot>
        <tr>
            <td>
                <span tr-ng-grid-global-filter=""></span>
                <span class="form-group pull-left">
                    <button class="btn btn-primary" ng-click="removeSelectedElements()" ng-class="{'disabled':!mySelectedItems.length}">Remove Selected Items</button>
                </span>
                <span tr-ng-grid-pager=""></span>
            </td>
        </tr>
    </tfoot>
</table>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Customizing data cells
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(21)">
                    <p>
                        You can override the style of the generated data cells, but do remember to match by <em>field-name</em> the TD element with a TH element present in the header. <br />
                        The data cell template must be placed inside an HTML child element, otherwise the content will be ignored and treated as a placeholder for the default cell template. <br />
                        Keep in mind that you have access to both the <em>gridItem</em> scoped variable, which points to the actual data item, and <em>gridDisplayItem</em>, which points to the formatted item and should only be used for presentation purposes.
                    </p>
                    <pre id="trNgGrid_Customize_Data_Cells"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Data_Cells">
<table tr-ng-grid items="myItems" selected-items="mySelectedItems" page-items="5">
    <thead>
        <tr>
            <th field-name="id"></th>
            <th field-name="name"></th>
            <th field-name="address"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td field-name="id">
                <div ng-class="{'text-danger':gridItem.id%2}">{{gridDisplayItem.id}}</div>
            </td>
        </tr>
    </tbody>
</table>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Angular directives on <em>TR</em> elements
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(21)">
                    <p>
                        You can apply a limited amount of directives onto the <em>TR</em> elements.
                        In general, DOM changing directives such as <em>ng-if</em>, <em>ng-repeat</em> or <em>ng-switch</em> are not supported.
                    </p>
                    <pre id="trNgGrid_Customize_Rows"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Rows">
<table tr-ng-grid items="myItems" selected-items="mySelectedItems" page-items="5">
    <tbody>
        <tr ng-class="{'bg-danger':gridItem.id%2}"></tr>
    </tbody>
</table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
