<div ng-controller="TrNgGridDemo.TestController" class="row" ng-init="generateItems(90);myPageItemsCount=20;myCurrentPage=0">
    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Grid Configuration
            </div>
            <div class="panel-body">
                <p>
                    A range of options are available for setting up the grid <span class="glyphicon glyphicon-log-in"></span>, for monitoring its activity <span class="glyphicon glyphicon-log-out"></span>, or both.<br />
                    For inbound settings, you have the option of either data binding to one of your scoped variabled or providing a literal value.
                </p>
                <form class="form-horizontal well" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Items (items)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <p class="form-control-static">{{myItems.length}} data items</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Fields (fields)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <span class="checkbox">
                                            <input type="checkbox" ng-model="myEnableFieldAutoDetection" /> Autodetect (fields = null or not set)
                                        </span>
                                    </label>
                                </div>
                                <div class="checkbox" ng-repeat="fieldName in availableFields" ng-if="!myEnableFieldAutoDetection">
                                    <label>
                                        <span class="checkbox">
                                            <input type="checkbox" ng-model="myFields[$index]" ng-true-value="{{fieldName}}" ng-false-value="" />
                                            {{fieldName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Filtering enabled flag (enable-filtering)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="myEnableFiltering" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="myEnableFiltering">
                            <label class="col-md-7 control-label">
                                Global filter (filter-by)
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <input class="form-control" type="text" ng-model="myGlobalFilter" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Sorting enabled flag (enable-sorting)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="myEnableSorting" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="myEnableSorting">
                            <label class="col-md-7 control-label">
                                Sort column (order-by)
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <input class="form-control" type="text" ng-model="myOrderBy" />
                                <!--<p class="form-control-static" ng-show="myOrderBy">{{myOrderBy}}</p>
                <p class="form-control-static" ng-hide="myOrderBy">unknown</p>-->
                            </div>
                        </div>
                        <div class="form-group" ng-show="myEnableSorting">
                            <label class="col-md-7 control-label">
                                Reverse sort order flag (order-by-reverse)
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="myOrderByReversed" />
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Items per page (page-items)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <input class="form-control" type="number" ng-model="myPageItemsCount" min="1" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Selection mode (selection-mode)
                                <span class="glyphicon glyphicon-log-in"></span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="mySelectionMode" ng-options="modeName for modeName in ['None', 'SingleRow', 'MultiRow', 'MultiRowWithKeyModifiers']"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Current page index (current-page)
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <p class="form-control-static">{{myCurrentPage}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Filtered items report v3.0.5+ (filtered-items)
                                <span class="glyphicon glyphicon-log-out"></span><br />
                            </label>
                            <div class="col-md-5">
                                <p class="form-control-static">
                                    {{myGridFilteredItems.length}} data items <br />
                                    <span class="text-warning">(to enable this feature, please initialize your data bound variable with an empty array)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-7 control-label">
                                Filtered page items report v3.0.5+ (filtered-items-page)
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <p class="form-control-static">
                                    {{myGridFilteredItemsPage.length}} data items <br/>
                                    <span class="text-warning">(to enable this feature, please initialize your data bound variable with an empty array)</span>
                                </p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="myEnableSelections">
                            <label class="col-md-7 control-label">
                                Selected items (selected-items)
                                <span class="glyphicon glyphicon-log-in"></span>
                                <span class="glyphicon glyphicon-log-out"></span>
                            </label>
                            <div class="col-md-5">
                                <p class="form-control-static">{{mySelectedItems.length}} data items</p>
                            </div>
                        </div>
                        <div class="form-group" ng-show="myEnableSelections && mySelectedItems.length">
                            <div class="col-md-7">
                                <button type="button" class="btn btn-default" ng-click="mySelectedItems.splice(Math.random(mySelectedItems.length),1)">Remove a random selection through script</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

                <pre id="trNgGrid_Sample_Full">
                </pre>
            </div>
        </div>
    </div>
    <div class="col-md-7" project-markup-to="#trNgGrid_Sample_Full">
        <table tr-ng-grid
               items="myItems"
               fields="myFields"
               enable-filtering="myEnableFiltering"
               enable-sorting="myEnableSorting"
               filter-by="myGlobalFilter"
               order-by="myOrderBy"
               order-by-reverse="myOrderByReversed"
               page-items="myPageItemsCount"
               selected-items="mySelectedItems"
               current-page="myCurrentPage"
               selection-mode="{{mySelectionMode}}"
               filtered-items="myGridFilteredItems"
               filtered-items-page="myGridFilteredItemsPage"></table>
    </div>
</div>
