
html, body{
    padding: 0 15px;
}

.demo-menu.navbar{
    font-size:0.9em;
}

.demo-menu.navbar .navbar-brand{
    font-size:1.0em;
}

iframe{
    width:100%;
    min-height:27em;
    border:none;
}