<div ng-controller="TrNgGridDemo.TestController">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Monitoring the items array
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-5">
                    <p>
                        <a href="https://github.com/MoonStorm/trNgGrid/issues/6" target="_blank">GitHub Case</a>
                    </p>
                    <p>
                        This is a test for checking whether the items array is properly monitored by the grid.
                    </p>
                    <pre id="trNgGrid_items_update_bug">
                    </pre>
                </div>
                <div class="col-md-7" project-markup-to="#trNgGrid_items_update_bug">
<p>
    <button type="button" class="btn btn-default" ng-click="generateItems(20)">
        Generate Items
    </button>
    Page: <input type="number" min="0" max="3" ng-model="myItemsCurrentPageIndex"></input>
</p>
<table 
    tr-ng-grid 
    items="myItems"
    page-items="5"
    order-by="'name'"    
    current-page="myItemsCurrentPageIndex">
</table>
                </div>
            </div>
        </div>
    </div>
</div>

