<!DOCTYPE html>
<html ng-app="trNgGridDemo" ng-controller="TrNgGridDemo.MainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>trNgGrid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" ng-href="{{ui.themeUrl}}" media="screen" />
    <link rel="stylesheet" href="demo/css/index.css" />
    <link href="//google-code-prettify.googlecode.com/svn/loader/prettify.css" type="text/css" rel="stylesheet" />
    <!--<link href="//google-code-prettify.googlecode.com/svn/loader/skins/sons-of-obsidian.css" type="text/css" rel="stylesheet" />-->

    <!--Debug-->
    <link rel="stylesheet" href="src/css/trNgGrid.css" />
    <!--Release-->
    <!--<link rel="stylesheet" href="release/trNgGrid.min.css" />-->

    <link rel="stylesheet" href="demo/css/index.css" />
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>-->
    <!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>-->
    <!--<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?autoload=false"></script>-->
    <script src="//google-code-prettify.googlecode.com/svn/loader/prettify.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <!--<script src="//code.angularjs.org/1.2.9/i18n/angular-locale_en-gb.js"></script>-->
    <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-animate.min.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap.min.js"></script>
    <script src="demo/js/ocLazyLoad.js"></script>

    <!--Debug-->
    <script src="src/js/trNgGrid.js"></script>
    <!--Release-->
    <!--<script src="release/trNgGrid.min.js"></script>-->

    <script src="demo/js/index.js"></script>
    <script src="demo/js/benchmark.js"></script>
    <script src="demo/js/test_hybrid_mode.js"></script>
</head>

<body class="row">
    <nav class="navbar navbar-default demo-menu" role="navigation" ng-if="!isFrame">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="text-warning">trNgGrid (3.0 BETA)</span></a>
        </div>

        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">
            <ul class="nav navbar-nav">
                <li><a href="#/Common">Plug & Play</a></li>
                <li><a href="#/Columns">Column Definition</a></li>
                <li><a href="#/Paging">Paging</a></li>
                <li><a href="#/Selections">Selections</a></li>
                <li><a href="#/GlobalOptions">Grid Options</a></li>
                <li><a href="#/ServerSide">Server Side Queries</a></li>
                <li><a href="#/Localization">Localization</a></li>
                <li><a href="#/Customizations">Customizations</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="">Test Cases<b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/TestNgSwitch">Case #9 (ng-switch)</a></li>
                        <li><a href="#/TestItemsUpdate">Case #6 (replacing the 'items' array) </a></li>
                        <li><a href="#/TestHybridMode">Case #28 (hybrid mode) </a></li>
                        <!--<li><a href="#/Benchmark">Benchmarks </a></li>-->
                        <!--<li><a href="#/TestFixedHeaderFooter">Case #22 (fixed header and footer) </a></li>   -->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="//github.com/MoonStorm/trNgGrid" target="_blank">Source & Download</a></li>
                <li dropdown is-open="ui.isMenuExpanded">
                    <!--onclick="$(this).toggleClass('open'); return false;"-->
                    <a class="dropdown-toggle" href="">Bootswatch theme <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a hhref=""><select class="form-control" ng-model="ui.themeVersion" ng-options="version for version in ['3.0.3','latest']"></select></a></li>
                        <li class="divider"></li>
                        <li><a href="" ng-click="setTheme('amelia')">Amelia</a></li>
                        <li><a href="" ng-click="setTheme('cerulean')">Cerulean</a></li>
                        <li><a href="" ng-click="setTheme('cosmo')">Cosmo</a></li>
                        <li><a href="" ng-click="setTheme('cyborg')">Cyborg</a></li>
                        <li><a href="" ng-click="setTheme('flatly')">Flatly</a></li>
                        <li><a href="" ng-click="setTheme('journal')">Journal</a></li>
                        <li><a href="" ng-click="setTheme('readable')">Readable</a></li>
                        <li><a href="" ng-click="setTheme('simplex')">Simplex</a></li>
                        <li><a href="" ng-click="setTheme('slate')">Slate</a></li>
                        <li><a href="" ng-click="setTheme('spacelab')">Spacelab</a></li>
                        <li><a href="" ng-click="setTheme('united')">United</a></li>
                        <li><a href="" ng-click="setTheme('yeti')">Yeti</a></li>
                        <li ng-if="ui.themeVersion!='3.0.3'"><a href="" ng-click="setTheme('superhero')">Superhero</a></li>
                        <li ng-if="ui.themeVersion!='3.0.3'"><a href="" ng-click="setTheme('lumen')">Lumen</a></li>
                        <li class="divider"></li>
                        <li><a href="//bootswatch.com/" target="_blank">Bootswatch Home Page</a></li>
                    </ul>
                </li>
                <li><a href="../release/index.html"><span class="text-success">Switch to Release</span></a></li>
            </ul>
        </div>
    </nav>

    <div ng-view class="col-md-12"></div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47475030-1', 'moonstorm.github.io');
        ga('send', 'pageview');
    </script>
</body>
</html>
