<html ng-app="demo">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.3/slate/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="../src/css/trNgGrid.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
    <script src="../src/js/trNgGrid.js"></script>
    <script type="text/javascript">
        (function(angular) {
            angular.module('demo', ['trNgGrid']);
        })(angular);
        function randomstring(count, numbersOnly){
            var s= '';
            var charCodeA = "A".charCodeAt(0);
            var charCodea = "a".charCodeAt(0);
            var randomchar=function(numbersOnly){
                var n= Math.floor(Math.random()*(numbersOnly?10:62));
                if(n<10) return n; //1-10
                if(n<36) return String.fromCharCode(n+charCodeA-10); //A-Z
                return String.fromCharCode(n+charCodea-36); //a-z
            }
            while(s.length< count) s+= randomchar(numbersOnly);
            return s;
        }

        function addNewRandomItem(items){
            items.push({
                id:randomstring(Math.floor(Math.random()*3), true),
                name:randomstring(Math.floor(Math.random()*10)),
                street:randomstring(2, true) + " " +randomstring(Math.floor(Math.random()*10)) + "ave"
            });
        }

        function testController($scope) {
            $scope.externalTestProp = "Externals should be usable";
            $scope.totalItems = 1000;
            $scope.items = [];
            $scope.currentPage = 0;
            $scope.pageItems=100;

            var generateItems = function(){
                // generate n random items
                for(var index=0;index<$scope.pageItems;index++){
                    addNewRandomItem($scope.items);
                }
            };
            generateItems();
            $scope.addNew = function () {
                addNewRandomItem($scope.items);
            };

            $scope.$watch("currentPage", function(newPage, oldPage){
                if(newPage!==oldPage){
                    $scope.items.splice(0);
                    generateItems();
                }
            });
        }
    </script>
    <style>
        html, body{
            background-color: white;
        }
    </style>
</head>

<body ng-controller="testController">
<table tr-ng-grid items="items" filter-by="searchText" order-by="'id'" order-by-reverse="true" page-items="pageItems" total-items="totalItems" current-page="currentPage">
</table>
<input ng-model="searchText">
<button ng-click="addNew()">Add New</button>
</body>
</html>
