<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Permanent Customizations
        </div>
        <div class="panel-body">
            <p>
                When you've configured your own app, you have the option of tweaking the default look and feel of all the trNgGrid instances.
            </p>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Styles
                        </div>
                        <div class="panel-body">
                            <p>
                                Various variable are used by the grid when rendering and some of them are CSS classes that will get applied to various elements on the grids.
                                You can customize these the moment you configure your app:
                            </p>
                            <pre>
.run(function () {
    TrNgGrid.tableCssClass = "tr-ng-grid table table-bordered table-hover";
    TrNgGrid.cellCssClass = "tr-ng-cell";
    TrNgGrid.headerCellCssClass = "tr-ng-column-header " + TrNgGrid.cellCssClass;
    TrNgGrid.bodyCellCssClass = cellCssClass;
    TrNgGrid.columnTitleCssClass = "tr-ng-title";
    TrNgGrid.columnSortCssClass = "tr-ng-sort";
    TrNgGrid.columnFilterCssClass = "tr-ng-column-filter";
    TrNgGrid.columnFilterInputWrapperCssClass = "";
    TrNgGrid.columnSortActiveCssClass = "tr-ng-sort-active text-info";
    TrNgGrid.columnSortInactiveCssClass = "tr-ng-sort-inactive text-muted";
    TrNgGrid.columnSortReverseOrderCssClass = "tr-ng-sort-order-reverse glyphicon glyphicon-chevron-up";
    TrNgGrid.columnSortNormalOrderCssClass = "tr-ng-sort-order-normal glyphicon glyphicon-chevron-down";
    TrNgGrid.rowSelectedCssClass = "active";
    TrNgGrid.footerCssClass = "tr-ng-grid-footer form-inline";
})
                        </pre>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Default column options
                        </div>
                        <div class="panel-body">
                            <pre>
.run(function () {
    TrNggrid.defaultColumnOptions.displayAlign="center";
})
                       </pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Templates
                        </div>
                        <div class="panel-body">
                            <p>
                                Most of the templates used throughout the construction of the grid can be customized.
                                You can override them in your app config.
                                Browse through the code of the <em>trNgGrid.ts</em> to find the default templates and their identifiers.
                            </p>
                            <h4 class="text-warning">
                                As you'll be marrying your templates with the inner guts of the component,
                                you'll have to check and adjust your custom templates whenever you upgrade.
                            </h4>
                            <p>
                                The example below shows how to override the default pager template.
                            </p>

                            <pre>
.run(["$templateCache", function ($templateCache){
   $templateCache.put(
        TrNgGrid.footerPagerTemplateId, 
        'Copy & paste the content of the template from the trNgGrid.ts file. Adjust it to your needs here.'
   );
}])
                                </pre>
                            <iframe src="index.html#/TemplatePager?isFrame=true" style="height:45em;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Instance Customizations
        </div>
        <div class="panel-body">
            <p>
                Per grid instance customization is possible as well at the header, body and the footer level.
                Below are a few examples.
            </p>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Custom header and body cells
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(5)">
                    <p>
                        When you start adding additional cells in either the header or the body, there is one rule to remember:<br />
                        The grid will match the position of the header template cells with the ones in the body through the fields identified by the <em>field-name</em> attribute.
                        Everything that is not bound to a field will be matched by position as well, and the extra non-field elements will turn into columns placed at the far right end of the grid.
                    </p>
                    <p>
                        Tapping into the currently bound row item can be done through the
                        <ul>
                            <li><em>gridItem</em> scope variable, which points to the actual data item, and</li>
                            <li><em>gridDisplayItem</em>, which points to the formatted item and should only be used for presentation purposes.</li>
                        </ul>
                    </p>
                    <pre id="trNgGrid_Customize_Header_Body"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Header_Body">
                        <table tr-ng-grid="" items="myItems" selected-items="mySelectedItems" selection-mode="None">
                            <thead>
                                <tr>
                                    <th display-align="center" cell-width="2em">
                                        <div class="tr-ng-title">&nbsp;</div>
                                        <input type="checkbox" ng-model="areAllSelected" ng-change="!areAllSelected?mySelectedItems.splice(0, mySelectedItems.length):mySelectedItems.push.apply(mySelectedItems, myItems)" />
                                    </th>
                                    <th field-name="id" />
                                    <th field-name="name" />
                                    <th field-name="address" />
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="checkbox" ng-model="isSelected" ng-checked="mySelectedItems.indexOf(gridItem)>=0" ng-change="isSelected?mySelectedItems.push(gridItem):mySelectedItems.splice(mySelectedItems.indexOf(gridItem),1)" />
                                    </td>
                                    <td>
                                        <button class="btn btn-default btn-sm" ng-click="myItems.splice(myItems.indexOf(gridItem),1)">
                                            Remove {{gridDisplayItem.id}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New elements in the footer
                </div>
                <div class="panel-body" ng-controller="TrNgGridDemo.TestController" ng-init="generateItems(21)">
                    <p>
                        Customizing the footer means you're going to have to add manually the inner directives that are bound to various features of the grid, such as global filtering and paging.
                    </p>
                    <pre id="trNgGrid_Customize_Footer"></pre>

                    <div project-markup-to="#trNgGrid_Customize_Footer">
                        <table tr-ng-grid items="myItems" selected-items="mySelectedItems" page-items="5">
                            <tfoot>
                                <tr>
                                    <td>
                                        <span tr-ng-grid-global-filter=""></span>
                                        <span class="form-group pull-left">
                                            <button class="btn btn-primary" ng-click="removeSelectedElements()" ng-class="{'disabled':!mySelectedItems.length}">Remove Selected Items</button>
                                        </span>
                                        <span tr-ng-grid-pager=""></span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
